<body>
<div class="signup-form">
    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
		<h2>Register</h2>
		<p class="hint-text">Register here as new user</p>
        <div class="form-group">
            <input type="text" class="form-control" [(ngModel)]="model.first_name" #firstName="ngModel" [ngClass]="{'is-invalid':f.submitted && firstName.invalid}" name="first_name" placeholder="First Name" required>
            <div class="invalid-feedback">
                <div>First Name is required</div>
            </div>
        </div>
		<div class="form-group">
            <input type="text" class="form-control" [(ngModel)]="model.last_name" #lastName="ngModel" [ngClass]="{'is-invalid':f.submitted && lastName.invalid}" name="last_name" placeholder="Last Name" required>
            <div class="invalid-feedback">
                <div>Last Name is required</div>
            </div>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" [(ngModel)]="model.user_name" #userName="ngModel" [ngClass]="{'is-invalid':f.submitted && userName.invalid}" name="user_name" placeholder="User Name" required>
            <div class="invalid-feedback">
                <div>User Name is required</div>
            </div>
		</div>        	
        <div class="form-group">
            <input type="email" class="form-control" [(ngModel)]="model.email" #email="ngModel" [ngClass]="{'is-invalid':f.submitted && email.invalid}" name="email" placeholder="Email" required email>
            <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                <div *ngIf="email.errors.required">Email is required</div>
                <div *ngIf="email.errors.email">Email must be a valid email address</div>
            </div>
        </div>
		<div class="form-group">
            <input type="password" class="form-control" [(ngModel)]="model.password" #password="ngModel" [ngClass]="{'is-invalid':f.submitted && password.invalid}" name="password" placeholder="Password" required minlength="6">
            <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
                <div *ngIf="password.errors.required">Password must be required</div>
                <div *ngIf="password.errors.minlength">Password must have atleast 6 characters</div>
            </div>
        </div>
		<div class="form-group">
            <input type="password" class="form-control" [(ngModel)]="model.confirmpassword" #confirmpassword="ngModel" [ngClass]="{'is-invalid':f.submitted && confirmpassword.invalid}" name="confirm_password" placeholder="Confirm Password" required minlength="6">
            <div *ngIf="f.submitted && confirmpassword.invalid" class="invalid-feedback">
                <div *ngIf="confirmpassword.errors.required">Retype your password here</div>
            </div>
        </div>        
        <div class="form-group">
			<label class="checkbox-inline"><input type="checkbox" required="required"> I accept the <a href="#">Terms of Use</a> &amp; <a href="#">Privacy Policy</a></label>
		</div>
		<div class="form-group">
            <button type="submit" class="btn btn-success btn-lg btn-block">Register Now</button>
        </div>
    </form>
	<div class="text-center">Already have an account? <a href="#">Sign in</a></div>
</div>
</body>