<nav class="navbar navbar-light bg-dark">
    <a class="navbar-brand" href="#" style="color: white;">
      <img src="assets/images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
      ANJAC
    </a>
    <form class="form-inline">
      <button class="btn btn-sm btn-outline-secondary" type="button" style="color: white;">Logout</button>
    </form>
  </nav>
  <h4 style="text-align: center;color: lightcoral;">Welcome to ANJAC College</h4>
 